<div class="sidebar-wrap">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Admin/Comprofile/index')}"><i class="icon-font">&#xe005;</i>企业概况</a></li>
                    <li><a href="{:U('Admin/Honor/index')}"><i class="icon-font">&#xe007;</i>资质荣誉</a></li>
                    <li><a href="{:U('Admin/Facility/index')}"><i class="icon-font">&#xe00f;</i>设备工艺</a></li>
                    <li><a href="{:U('Admin/Live/index')}"><i class="icon-font">&#xe01a;</i>生活示例</a></li>
                    <li><a href="{:U('Admin/Goods/index')}"><i class="icon-font">&#xe012;</i>产品介绍</a></li>
                    <li><a href="{:U('Admin/Contactus/index')}"><i class="icon-font">&#xe01d;</i>联系我们</a></li>
                    <li><a href="{:U('Admin/Knowledge/index')}"><i class="icon-font">&#xe013;</i>塑料袋小常识</a></li>
                    <li><a href="{:U('Admin/Price/index')}"><i class="icon-font">&#xe016;</i>塑料袋注意事项</a></li>
                    <li><a href="{:U('Admin/Notice/index')}"><i class="icon-font">&#xe01c;</i>通知中心</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Admin/Login/editpwd')}"><i class="icon-font">&#xe017;</i>修改密码</a></li>
                    <li><a href="#"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                    <li><a href="#"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>