<include file="Public/header" />
<!--左侧菜单栏-->

<!--左侧菜单栏 begin-->
<include file="Public/left" />
<!--左侧菜单栏 begin-->
    
    <!--右侧主操作区-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i>
                <a href="?p=back">首页</a>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">联系我们</span>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">添加信息</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('addOk')}" method="post" id="myform" enctype='multipart/form-data'>
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th>单位:</th>
                                <td>
                                    <input type="text" name="company"/>
                                </td>
                            </tr>
                            <tr>
                                <th>地址:</th>
                                <td>
                                    <input type="text" name="address"/>
                                </td>
                            </tr>
                            <tr>
                                <th>邮政编码:</th>
                                <td>
                                    <input type="text" name="postalcode"/>
                                </td>
                            </tr>
                            <tr>
                                <th>手机号:</th>
                                <td>
                                    <input type="text" name="telephone"/>
                                </td>
                            </tr>
                            <tr>
                                <th>邮箱:</th>
                                <td>
                                    <input type="text" name="email"/>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>

        </div>

    </div>
    <!--/右侧主操作区-->
</div>

</body>
</html>