<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<title>资质荣誉详情_忻州左所塑料袋厂</title>
	<meta name="description" content="{$ArticleIntro}">
	<meta name="keywords" content="{$ArticleKeyWord}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="__HOMECSS__/actcms.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="__FAVICON__" />
	<link rel="bookmark" href="__FAVICON__" />
</head>

<body>
<!--网页头部-->
<!--网页头部-->

<div class="header">
	<!--顶部-->
	<div style="background:url(__HOMEIMG__/logo_bg.jpg) no-repeat;width:1024px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px;overflow:hidden;">
		<!--logo-->
		<div class="logo">
		</div>
	</div>
	<!--导航菜单-->
	<div class="menu">
		<ul id="menu">
			<li class="navthis"><li class=""><a href="{:U('Home/Index/Index')}">网站首页</a></li><li class="">
			<a href="{:U('Home/Company/Index')}">企业概况</a></li><li class="">
			<a href="{:U('Home/Honor/Index')}">资质荣誉</a></li><li class="">
			<a href="{:U('Home/Facility/Index')}">设备工艺</a></li><li class="">
			<a href="{:U('Home/Live/Index')}">生活场景</a></li><li class="">
			<a href="{:U('Home/Goods/Index')}">产品介绍</a></li><li class="">
			<a href="{:U('Home/Contactus/Index')}">联系我们</a></li>
		</ul>
	</div>
</div>

<!--主要部分-->
<div class="main">
	<!--左边区块-->
	<div class="act_mrr">
		<!--内容-->
		<div class="act_content">
			<!--当前位置-->
			<div class="weizhi"><span>当前位置： <a href="#">首页</a> &gt;  <a class=" &gt; " href="#">关于我们</a> &gt;&gt; <a class=" &gt; " href="#">塑料袋小常识</a></span></div>
			<!--标题-->
			<div class="content_p">
				<h1>{$info.title}</h1>
				<div style="text-align: center">发表时间:<h5>{$info.createtime}</h5></div>
				<!--单页内容-->
				<div class="act_neirong"><img src="{$info.picpath|ltrim=###,'.'}">
				</div>
			</div>
			<!--//content_p-->
			<!--收藏按钮-->


		</div>

	</div>
	<!--右边区块-->
	<div class="act_ml">
		<!--热门排行-->
		<div class="hot">
		</div>
		<!--最新文章-->
		<div class="hot">
			<!--标题-->
		</div>
		<div class="zt">
		</div>
	</div>
	<div class="clear"></div>
</div>
<!--网页底部-->
<div class="footer">
	<p>       copyright©2017—2019  忻州左所塑料袋厂版权所有 <a href="http://www.miitbeian.gov.cn/" target="_blank">晋ICP备10223081号-1</a>  电话：13994113557   邮箱：597097315@qq.com</p>

	<div style="width:300px;margin:0 auto; padding:10px 0;">
		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32048202000083" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img scr="__HOMEIMG__/gongan.png" style="float:left;padding-top:10px"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#fff;">晋公网安备 32048202000083号</p></a>
	</div>
</div>



</body></html>
<!-- Created Page at 2019-3-20 10:40:45 ,By ActCMS.Com ,ACT Content Management System(ActCMS)  -->